<nav class="bg-blue-600 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <div class="text-white text-2xl font-bold">
            <a   href="/api/goals_list">Goal Tracker</a>
        </div>
        <div class="space-x-4">
            <a
                href="/login"
                class="text-white hover:bg-blue-500 hover:text-white px-3 py-2 rounded"
                >Login</a
            >
            <a
                href="/register"
                class="text-white hover:bg-blue-500 hover:text-white px-3 py-2 rounded"
                >Register</a
            >
            <a
                href="/logout"
                class="text-white hover:bg-blue-500 hover:text-white px-3 py-2 rounded"
                >Logout</a
            >
        </div>
    </div>
</nav>
<nav class="bg-blue-600 p-4">
    <div class="container mx-auto flex justify-center items-center">
        <div class="space-x-4">
            <a
                href="/api/goals_list"
                class="text-white hover:bg-blue-500 hover:text-white px-3 py-2 rounded"
                >Home</a
            >
            <a
                href="/api/add-goal"
                class="bg-gray-800 text-white hover:bg-blue-500 hover:text-white px-3 py-2 rounded"
                >Add Goal</a
            >

            <a href="/api/completed_goals">View Completed Goals</a>
        </div>
    </div>
</nav>
