<div class="h-screen flex items-center justify-center bg-gray-100 px-4">
    <form action="/api/add-goal" method="POST" class="space-y-6 bg-white p-8 shadow-lg rounded-lg max-w-md w-full border border-gray-300">
        <h2 class="text-3xl font-bold text-gray-800 mb-6 text-center">Create a New Goal</h2>

        <input type="text" name="name" placeholder="Goal Name" required class="border-2 border-gray-300 focus:border-blue-500 focus:ring-blue-500 w-full p-4 rounded-md text-gray-700 shadow-sm text-lg" />

        <textarea name="description" placeholder="Description" required class="border-2 border-gray-300 focus:border-blue-500 focus:ring-blue-500 w-full p-4 rounded-md text-gray-700 shadow-sm text-lg"></textarea>

        <div class="flex space-x-4">
            <input type="date" name="starting" required class="border-2 border-gray-300 focus:border-blue-500 focus:ring-blue-500 w-1/2 p-4 rounded-md text-gray-700 shadow-sm text-lg" />
            <input type="date" name="finishing" required class="border-2 border-gray-300 focus:border-blue-500 focus:ring-blue-500 w-1/2 p-4 rounded-md text-gray-700 shadow-sm text-lg" />
        </div>

        <select name="status" required class="border-2 border-gray-300 focus:border-blue-500 focus:ring-blue-500 w-full p-4 rounded-md text-gray-700 shadow-sm text-lg">
            <option value="Pending">Pending</option>
            <option value="In Progress">In Progress</option>
            <option value="Completed">Completed</option>
        </select>

        <select name="priority" required class="border-2 border-gray-300 focus:border-blue-500 focus:ring-blue-500 w-full p-4 rounded-md text-gray-700 shadow-sm text-lg">
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
        </select>

        <!-- Hidden field for unchecked value -->
        <input type="hidden" name="completed" value="no">



        <!-- Button container with flex to center -->
        <div class="flex justify-center pt-6">
            <button type="submit" class="bg-blue-900 font-semibold p-4 rounded-md shadow-lg hover:bg-blue-700 transition duration-300 text-lg">Add Goal</button>
        </div>
    </form>
</div>






